<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initil-scale=1.0">
    <title>Sobre nós</title>
    <link rel="icon" type="image/png" href="https://cdn.outback.com.br/wp-data/wp-content/themes/outback_2022/assets/images/outback-logo.png">

    <link rel="stylesheet" href="/css/a_style.css">
    <link rel="stylesheet" href="/css/about-last.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: sienna;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
}
    </style>
</head>
<body>
    <section id="header">
        <img src="https://cdn.worldvectorlogo.com/logos/outback-steakhouse-3.svg" alt="Outback Logo" title="Outback Logo"  style="width: 125px; height:60px;">
        <div>
            <ul id="navbar">
                
				<li><a class="here" href="/">Home</a></li>
				<li><a href="/views/cardapio">Cardápio</a></li>
				<li><a href="/reserva">Reservas</a></li>
				<li><a href="/views/about">Sobre nós</a></li>
            </ul>
        </div>
    </section>
    <section id="page-header" class="about-header">
        <h2>#Sobre Nós</h2>
        <p>Quem desenvolveu esse site e porquê?</p>
        <a href="/assets/banner.png"></a>
    </section>

    <section id="about-head" class="section-p1">
        <img src="/assets/150157912_887433822076489_6843869776751036014_n.jpg" alt="">
        <div>
            <h2>Quem somos nós?</h2>
            <p>Bem-vindo ao nosso site! Somos um grupo de cinco amigos apaixonados por comida e tecnologia e ansiosos para recriar a experiência única do Outback Steakhouse no ambiente digital. O nosso objetivo é captar a essência deste restaurante icónico, proporcionando uma interface moderna e intuitiva que reflita a qualidade e autenticidade dos pratos que todos adoramos.
Cada um de nós traz diferentes habilidades e experiências para este projeto, 
desde desenvolvimento web até design gráfico e marketing digital. 
Trabalhando juntos, combinamos nossas paixões e talentos para criar uma plataforma que não apenas informa, mas também inspira e conecta os entusiastas do Outback. Acreditamos que uma boa refeição é muito mais que comida: é uma experiência partilhada, repleta de memórias e momentos especiais. Temos o compromisso de garantir que cada detalhe do local reflita o espírito acolhedor e a atmosfera vibrante do Outback. Da apresentação dos alimentos às funções de pedido e entrega, nos concentramos na experiência do usuário. Queremos que os nossos visitantes se sintam como se estivessem no restaurante e desfrutem de uma deliciosa refeição com amigos e familiares
<p>
            <span>Lembre-se: Belém é uma cidade acolhedora e vibrante, pronta para receber você de braços abertos. Aproveite ao máximo sua experiência na COP30 e explore tudo o que nossa cidade tem a oferecer!</span>
            <br><br>
            <b><marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Todas as informações como números de telefone, endereço e etc estão corretas e fiés com a realidade.</marquee></b>
        </div>
    </section>

    
    <div class="container">
        <h1>About and Team Section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Our Team</h2>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/hudson.jpg">
                <h3 class="m-0">Hudson Mazza</h3>
                <h5 class="my-1">Dev front-end</h5>
                <a href="https://github.com/HudsonMazza" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/ector.jpeg">
                <h3 class="m-0">Ector Magalhães</h3>
                <h5 class="my-1">Dev back-end / P.O</h5>
                <a href="https://github.com/ectormgl" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/gabriel.jpg">
                <h3 class="m-0">Gabriel Rodrigues</h3>
                <h5 class="my-1">Dev front / Dev Ops</h5>
                <a href="https://github.com/gaaaaab1" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/renan.jpg">
                <h3 class="m-0">Renan Palheta</h3>
                <h5 class="my-1">Dev front-end</h5>
                <a href="https://github.com/renanplht" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 text-center"><img class="rounded-circle img-fluid d-block mx-auto" src="/assets/giovani.jpg">
                <h3 class="m-0">Giovani Costa</h3>
                <h5 class="my-1">Dev front-end/ Dev back-end</h5>
                <a href="https://github.com/Numl8ck" style="text-decoration: none;">LINK PARA O GITHUB</a>
            </div>
            
        </div>
    </div>
    <script src="/js/about.js"></script>
    <footer class="section-p1">

        <div class="col">
            
            
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <a href="https://www.facebook.com/outbackbrasil/"><i class="fa fa-facebook" ></i></a>
                    <a href="https://www.instagram.com/outbackbrasil/"><i class="fa fa-instagram"></i></a>
                    <a href="https://x.com/OutbackBrasil"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/outbackbrasil/"><i class="fa fa-linkedin"></i></p></a>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="about.html">About Us</a>
            <a href="#">Privacy Police</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>Account</h4>
            <a href="login.html"> Sign In</a>
            <a href="t_points.html">View tourists points</a>
            <a href="i_points.html">View interesting points</a>
            <a href="#">Help</a>
        </div>
            <div class="copyright">
                <p style="color: #ffffff;">@ 2024, Belem-Guide</p>
            </div>
        </div>


    </footer>

    <script src="script.js"></script>
</body>
</html>